In [ ]:
Data Types:
    int 55,-67,90
    float 56.78,-0.09
    str 'apple','40', "I'am", """This is also "String" Example"""
    dict {'apple':30, 'mango':60}  key:value pairs.
    bool
    list
    None
    set
    tuple
    
Note: All the above ones are python reserved keywords. They should not be used
    in names. There are more reserved keywords which we will add later.

In [11]:
type('a')

str

In [12]:
a = 10.5
print(type(a))

<class 'float'>

In [ ]:
## Data Type Conversion:
Converting one datatype into another.
Note: We can not convert every data type into another data type.

In [15]:
x = 57
print('type of x',type(x))
y = float(x) # converting x into float
print(y)
print('type of y',type(y))

type of x <class 'int'>
57.0
type of y <class 'float'>

In [16]:
x = '40'
print('type of x',type(x))
y = int(x) # converting x into int
print(y)
print('type of y',type(y))

type of x <class 'str'>
40
type of y <class 'int'>

In [17]:
x = '40Aksthatha'
print('type of x',type(x))
y = int(x) # converting x into int
print(y)
print('type of y',type(y))

type of x <class 'str'>

ValueError: invalid literal for int() with base 10: '40Aksthatha'

In [1]:
a="25"
b=int(a)/5
c=float(b)
print(c)

5.0

In [5]:
float = 0.35, 0.3636
print(type(float))
y= int(float)
print(type(y))
print(y)

<class 'tuple'>

TypeError: int() argument must be a string, a bytes-like object or a number, not 'tuple'

In [7]:
x = 57
print('type of x',type(x))
y = float(x) # converting x into float
print(y)

type of x <class 'int'>

TypeError: 'tuple' object is not callable

In [24]:
int = 5

In [8]:
x = '4'
y = int(x)
print(y)

4

In [1]:
x = 56
y = float(x)
print(y)

56.0

In [4]:
a = "shyam"

In [8]:
a="'vishal','yash','shubham'"

In [9]:
type(a)

str

In [10]:
a

"'vishal','yash','shubham'"

In [13]:
x= "'Mango', '567'"

In [14]:
type(x)

str

In [ ]:
name = 'abhishek','Bunty'

In [9]:
x = {'name:abc,agw:2'}

In [16]:
a = {'summit':34,'rhgav':20}

In [18]:
# I am not audible. Okay don't worry. I'll reconnect within 2 minutes.

In [1]:
p= {'pavan', 'swamy'}

In [3]:
x = """This is also "String" Example"""
print(type(x))
print(x)

<class 'str'>
This is also "String" Example

In [4]:
x = {'apple':30, 'mango':60}

In [5]:
x = """I'am "String" Example"""

In [6]:
print(type(x))

<class 'str'>

In [7]:
print(x)

I'am "String" Example

In [8]:
{"name":"abc"}

{'name': 'abc'}

In [2]:
sss = 23
pavan={"pavan":3,'padh':sss}

In [3]:
print(type(pavan))

<class 'dict'>

In [5]:
x = {'Name':'Labhansh', 'Surname':'Garg'}
print(type(x))

<class 'dict'>

In [6]:
{'happy':34,'glad':55}

{'happy': 34, 'glad': 55}

In [ ]:
Immutable/Uneditable Data Types:
    tuple
    int
    float
    str
    None
    bool
    
Mutable/Editable Data Types:
    list
    dict
    set

In [ ]:
# x = {key:value}

key should be unique and immutable.

In [15]:
x = {True:40, (3,4):500, 'apple':60, 6:'six', 4.5:'four_point_five','True':500}

In [12]:
print(type(x))

<class 'dict'>

In [13]:
print(x)

{True: 40, (3, 4): 500, 'apple': 60, 6: 'six', 4.5: 'four_point_five', 'True': 500}