In [ ]:
List
Strings
Tuples

In [ ]:
# Tuples

- immutable: No method for updating, deleting and editing
- Heterogenous Data
- ordered: indexing and slicing
- iterable

tuples are very similar to lists, except that they are immutable.

In [ ]:
append,insert,extend,pop,remove is not there in tuple

del is possible in tuples.

In [2]:
# sorted
l = (89,1,90,34,28,39,2,19)
l = sorted(l,reverse=True)
print(tuple(l))

(90, 89, 39, 34, 28, 19, 2, 1)

In [3]:
# index
l = (89,1,90,34,28,39,2,19)
l.index(90)

2

In [5]:
# count
l = (89,1,90,34,28,90,39,2,90,19)
l.count(90)

3

In [6]:
print(l)

(89, 1, 90, 34, 28, 90, 39, 2, 90, 19)

In [7]:
del l

In [8]:
print(l)

NameError: name 'l' is not defined

In [9]:
l = (89,1,90,34,28,90,39,2,90,19)
l[3]

34

In [10]:
l[2:5]

(90, 34, 28)

## Q4.) Use range(1,21) make two list, one should contain even numbers and the other should contain odd numbers

In [ ]:
10 minutes.
20:00

In [ ]:
Alternative Q4: 
student_list = [{'name':'A','subject':'phy','marks':90},
                {'name':'B','subject':'chem','marks':59},
                {'name':'C','subject':'maths','marks':89}]

Make a generic code which will sum all the marks of all the students whose 
subject name contains an vowel.

In [2]:
odd = []
even = []
for no in range(1,21):
    if no%2 == 0:
        even.append(no)
    else:
        odd.append(no)
print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## Q.5) given two tuples , arrange their unique elements in sorted order in a list

### Intuition: Tuples are immutable, create an empty list to store the unique elements and sort them.

### Pseudocode:
    1.)Create a new tuple by adding them.
    2.)loop through them to append only value not already present
    3.)finally use sorted method on the list.

In [ ]:
l1 = (89,1,90,34,28,90,39,2,90,19)
l2 = (8900,10000,9,20,9,1900,34,28,90)

In [8]:
l1 = (89,1,90,34,28,90,39,2,90,19)
l2 = (8900,10000,9,20,9,1900,34,28,90)
l3 = l1 + l2
unique = set(l3)
final_list = sorted(unique)
print(final_list)

[1, 2, 9, 19, 20, 28, 34, 39, 89, 90, 1900, 8900, 10000]

### Q.6): Do the following
    a)Create a tuple with single item 2.

In [4]:
x = (2,)

print(type(x))

<class 'tuple'>

In [6]:
y = 2,
print(type(y))

<class 'tuple'>

In [9]:
l1 = (89,1,90,34,28,90,39,2,90,19)
l2 = (8900,10000,9,20,9,1900,34,28,90)
print(sorted(set(l1 + l2)))

[1, 2, 9, 19, 20, 28, 34, 39, 89, 90, 1900, 8900, 10000]

In [ ]:
# taking a list as input

In [15]:
x = input().split()

10 20 30 40

In [16]:
x

['10', '20', '30', '40']

In [17]:
y = []
for i in x:
    y.append(int(i))
print(y)

[10, 20, 30, 40]

In [20]:
x = [23,45,67,12,34,56,89]
y = sorted(x)

print(y[-2])

67

In [21]:
aList = [4, 8, 12, 16]
aList[1:4] = [20, 24, 28]
print(aList)

[4, 20, 24, 28]

In [ ]:
#eval: it evaluate a string into python expression.

In [22]:
x = eval(input())

[20,30,40,50]

In [25]:
type(x[0])

int

In [28]:
x = eval(input())

{'python':3,'java':8,'mango':12,'banana':11}

In [29]:
print(x)

{'python': 3, 'java': 8, 'mango': 12, 'banana': 11}

In [30]:
print(type(x))

<class 'dict'>

In [31]:
print(type(x['python']))

<class 'int'>

In [35]:
x = eval(input())

1,2,3

In [36]:
print(type(x))

<class 'tuple'>

# lstrip,rstrip, strip in Strings

In [54]:
x = '          happy holi          '

print(len(x))

# Technique to remove extra white spaces which enters by mistake sometimes from the user.

30

In [55]:
x = '          happy holi          '

y = x.strip()
print(y)
print(len(y))

happy holi
10

In [56]:
x = '          happy holi          '

y = x.lstrip()
print(y)
print(len(y))

happy holi
20

In [57]:
x = '          happy holi          '

y = x.rstrip()
print(y)
print(len(y))

          happy holi
20

In [ ]:
Alternative Q4: 
student_list = [{'name':'A','subject':'phy','marks':90},
                {'name':'B','subject':'chem','marks':59},
                {'name':'C','subject':'maths','marks':89}]

Make a generic code which will sum all the marks of all the students whose 
subject name contains an vowel.

In [58]:
student_list = [{'name':'A','subject':'phy','marks':90},
                {'name':'B','subject':'chem','marks':59},
                {'name':'C','subject':'maths','marks':89}]

vowels = 'aeiou'
total_marks = 0
for student in student_list:
    for vowel in vowels:
        if vowel in student['subject']:
            total_marks += student['marks']
            break
print(total_marks)

148

In [60]:
student_list = [{'name':'A','subject':'phy','marks':90},
                {'name':'B','subject':'html','marks':59},
                {'name':'C','subject':'maths','marks':89},
                {'name':'D','subject':'python','marks':100}]

vowels = 'aeiou'
total_marks = 0
for student in student_list:
    for vowel in vowels:
        if vowel in student['subject']:
            total_marks += student['marks']
            break
print(total_marks)

189

## Q2)Check which of the following string contains all the 26 Alphabets
##    a)"the quick brown fox jumps over a lazy dog"
##    b)"the quick red fox jumps over a lazy dog"

### Intuition:Can we use ASCII values to store in a list the alphabet number present in the string.

### Pseudocode:
    1)make a list with 0's of size 26
    2)loop through the string and calculate ascii value.
    2.1) subtract the lowest ascii value to get the alphabet position (Remember 0 indexed)
    2.2) replace the 0 with 1 in the list for that alphabet
    3) sum the values in the list, it should be 26.

In [ ]:
1 for present
0 for absent

In [64]:
ord('a') - 97

0

In [65]:
ord('b') - 97

1

In [66]:
alpha = []
for asci in range(97,123):
    alpha.append(chr(asci))
print(alpha)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [68]:
for x in alpha:
    print(ord(x)-97)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [89]:
alphabet = ['A']*26 # intially consider all the alphabets are present

string = "the quick brown fox"

for char in string:
    index_position = ord(char)-97
    if index_position >= 0 and index_position<=25:
        alphabet[index_position] = 'P'
print(alphabet)
if alphabet.count('P') == 26:
    print('All the alphabets are present!!')
else:
    print('Not Present')

['A', 'P', 'P', 'A', 'P', 'P', 'A', 'P', 'P', 'A', 'P', 'A', 'A', 'P', 'P', 'A', 'P', 'P', 'A', 'P', 'P', 'A', 'P', 'P', 'A', 'A']
Not Present

In [78]:
alphabet = [0]*26
print(alphabet)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [84]:
for i in range(97,123):
    print(chr(i),i,i-97)
    
# and thats the index position ...for 26 items in a list

a 97 0
b 98 1
c 99 2
d 100 3
e 101 4
f 102 5
g 103 6
h 104 7
i 105 8
j 106 9
k 107 10
l 108 11
m 109 12
n 110 13
o 111 14
p 112 15
q 113 16
r 114 17
s 115 18
t 116 19
u 117 20
v 118 21
w 119 22
x 120 23
y 121 24
z 122 25

In [ ]:
How can we get ascii value of a char?

In [80]:
ord('a')

97

In [82]:
ord('b')

98

In [81]:
ord('z')

122

In [ ]:
HW: Use Dict to do the same
Start with Hackerrank