In [ ]:
Homework Question:
    Find a key if it is present in the list, if not print not found.
    print not found only once and not repeatitively
    
xlist = [10,20,30,40,50]
key = 20
ans found

xlist = [10,20,30,40,50]
key = 200
ans not found

In [9]:
xlist = [10,20,30,40,50]
key = 20
did_we_found = False
index = 0
while index < len(xlist):
    if key == xlist[index]:
        did_we_found = True
        break
    index+=1
if did_we_found:
    print('found')
else:
    print('not found')

found

In [11]:
xlist = [10,20,30,40,50]
key = 200
did_we_found = False
index = 0
while index < len(xlist):
    if key == xlist[index]:
        did_we_found = True
        break
    index+=1
if did_we_found:
    print('found')
else:
    print('not found')

not found

In [ ]:
  *
 * *
* * *

for n = 3

In [14]:
row = int(input("enter no of rows in triangle::"))
gap = row-1
for i in range(0,row):
    for j in range(0,gap):
        print(end=" ")        
    for j in range(0,i+1):
        print('*',end=" ")
    print('\r')
    gap -= 1

enter no of rows in triangle::5
    *
   * *
  * * *
 * * * *
* * * * *

In [15]:
x = 'apple'

print(x[-1])

e

In [16]:
x = 'apple'

print(x[::-1])

elppa

# input() function

In [17]:
# input by default takes input from user in string format.

x = input()

htk

In [18]:
print(type(x))

<class 'str'>

In [19]:
x = input()

34

In [20]:
print(type(x))

<class 'str'>

In [21]:
x = int(input())

45

In [22]:
print(type(x))

<class 'int'>

# print() function

In [ ]:
It print things to the stdout

It can take multiple inputs separated by comma.

In [23]:
print('apple','mango','kiwi')

apple mango kiwi

In [ ]:
# sep: what is there between different inputs in print function , by default is space

In [24]:
print('apple','mango','kiwi',sep='**')

apple**mango**kiwi

In [25]:
print('apple')
print('mango')

apple
mango

In [ ]:
# end: what comes at the end of print statment, by default it is new line

In [26]:
print('apple',end='***')
print('mango')

apple***mango

In [ ]:
# What is a new line?
'\n' is a new line character.
It can create a new line.

In [29]:
print('\n',end='')

In [34]:
print('happy coding',end='okok')
print('\n',end='')
print('something else')

happy codingokok
something else

# Strings

# format builtin function

In [36]:
# 1) position of the variable

s1 = 'num1 is {0} and num2 is {1}'.format('apple','mango')
print(s1)

num1 is apple and num2 is mango

In [37]:
# 1) position of the variable

s1 = 'fruit1 is {0} and fruit2 is {1}'.format('apple','mango')
print(s1)

fruit1 is apple and fruit2 is mango

In [38]:
# 1) position of the variable

s1 = 'fruit1 is {1} and fruit2 is {0}'.format('apple','mango')
print(s1)

fruit1 is mango and fruit2 is apple

In [40]:
# 2) by name of the variable

subject = 'Received an email from {name} and from {college}'.format(name='Rajan',college='MIT')
print(subject)

Received an email from Rajan and from MIT

In [41]:
students = ['Rajan','mohit','Rajesh','Krishnakant']

for student in students:
    mail = 'Hi {name} , We have a session at 7:30'.format(name=student)
    print(mail)

Hi Rajan , We have a session at 7:30
Hi mohit , We have a session at 7:30
Hi Rajesh , We have a session at 7:30
Hi Krishnakant , We have a session at 7:30

# split and join

In [43]:
# split returns a list

string1 = 'the quick brown fox jumps over a lazy dog'

string1_list = string1.split() # by default is space

print(string1_list,len(string1_list))

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog'] 9

In [49]:
string1 = 'Maths,Science,Economics'

string1_list = string1.split(',')

print(string1_list,len(string1_list))

['Maths', 'Science', 'Economics'] 3

In [52]:
string1 = 'Maths--Science--Economics'

string1_list = string1.split('--')

print(string1_list,len(string1_list))

['Maths', 'Science', 'Economics'] 3

In [53]:
string1 = 'MISSISIPI'

string1_list = string1.split('I')

print(string1_list,len(string1_list))

['M', 'SS', 'S', 'P', ''] 5

In [54]:
len(string1_list[-1])

0

# join

In [55]:
x = ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog']

s1 = (' ').join(x)

print(s1)

the quick brown fox jumps over a lazy dog

In [56]:
x = ['Maths', 'Science', 'Economics']

s1 = (',').join(x)

print(s1)

Maths,Science,Economics

In [57]:
string='abaijkabalmnaba'       
string.split('aba')

['', 'ijk', 'lmn', '']

In [58]:
Name = "Sambit Mohapatra"
names =Name.split()
first_name = names[0]
last_name = names[1]
print(f" first name:{first_name}\n last name:{last_name}")

 first name:Sambit
 last name:Mohapatra

In [59]:
x = ['Maths', 'Science', 'Economics']

s1 = ('***').join(x)

print(s1)

Maths***Science***Economics

In [62]:
x = input().split()

12 24 36

In [63]:
print(x)

['12', '24', '36']

In [64]:
x = input().split(',')

1,2,3,4,5,6,7

In [66]:
type(x)

list

# builtin functions related to find

In [ ]:
find,rfind,index,rindex

In [67]:
s = 'PythonJavaPythonJava'

In [68]:
s.find('Java')

6

In [69]:
s.find('mango')

-1

In [ ]:
find:
    finds the index positions for the first occurence from the left hand side.
    if present, returns the index position
    if not present, returns -1

# rfind

In [ ]:
rfind:
    finds the index positions for the first occurence from the right hand side.
    if present, returns the index position
    if not present, returns -1

In [73]:
s = 'PythonJavaPythonJavaC++Java'

In [76]:
s.rfind('Java')

23

In [77]:
s.rfind('mango')

-1

# index

In [78]:
s = 'PythonJavaPythonJava'

In [79]:
s.index('Java')

6

In [80]:
s.index('mango')

ValueError: substring not found

# rindex

In [81]:
s = 'PythonJavaPythonJava'

In [82]:
s.rindex('Java')

16

In [83]:
s.rindex('mango')

ValueError: substring not found

In [ ]:
index:
    finds the index positions for the first occurence from the left hand side.
    if present, returns the index position
    if not present, returns ValueError

In [ ]:
rindex:
    finds the index positions for the first occurence from the right hand side.
    if present, returns the index position
    if not present, returns ValueError

# replace and count

In [92]:
s = 'PythonJavaPythonJava'
print(id(s))

x = s.replace('Java','HTML')
print(x)
print(id(x))

24331664
PythonHTMLPythonHTML
24332336

In [89]:
s = 'PythonJavaPythonJavaC++Java'

x = s.count('Java')
print(x)

3

In [90]:
s.count('C++')

1

In [91]:
s.count('Python')

2

In [ ]:
upper(),lower(),isupper(),islower()

In [93]:
'mohit'.upper()

'MOHIT'

In [94]:
'MOHIT'.lower()

'mohit'

In [95]:
'mohit'.isupper()

False

In [96]:
'MOHIT'.isupper()

True

In [97]:
'Mohit'.isupper()

False

In [99]:
'M45#$'.isupper()

True

In [100]:
'M45#$'.lower()

'm45#$'

In [101]:
'M45#$'.islower()

False

In [102]:
'm45#$'.islower()

True

In [ ]:
title(),istitle(),capitalize()

In [103]:
'guru prasad'.title()

'Guru Prasad'

In [104]:
'Mohit Singh Chouhan'.istitle()

True

In [105]:
'ravi kumar shankar'.istitle()

False

In [107]:
'ravi kumar shankar'.title()

'Ravi Kumar Shankar'

In [108]:
'mohit singh chouhan'.title()

'Mohit Singh Chouhan'

In [109]:
'mohit singh chouhan'.capitalize()

'Mohit singh chouhan'

In [111]:
'Mohit'.isupper()

False

In [116]:
string = "She is beautiful and she is good dancer"
string.replace('is','was',1)

'She was beautiful and she is good dancer'

In [117]:
# docstring

# It is used in functions for documentation purpose.
# it can also be used as an multiline comment.

'''
Hi I am Hero.
Who are you?
'''

x = 'hello'

In [119]:
x = 'Naroju Ram Krishna, Mohan Ram Mishra'

x.replace('Ram','Shyam')

'Naroju Shyam Krishna, Mohan Shyam Mishra'

In [122]:
x = 'Naroju Ram Krishna, Mohan Ram Mishra, Mohit Ram Shipra'

x.replace('Ram','Shyam',2)

'Naroju Shyam Krishna, Mohan Shyam Mishra, Mohit Ram Shipra'

In [ ]:
HOMEWORK:
    isalpha()
    isdigit()
    isnumeric()
    isalnum()
    isspace()

In [ ]:
can we capatilize ...middle words first letter in capital...........mohit singh chauhan............i want s must be capital;

In [121]:
'MoHit sInGh chAuhaN'.upper()

'MOHIT SINGH CHAUHAN'